<% samples = incubation.samples %>
<% rows = samples.count + 1%>
<tr>
  <td rowspan=<%=rows%>><%= best_in_place incubation, :treatment %></td>
  <td rowspan=<%=rows%>><%= best_in_place incubation, :replicate %></td>
  <td rowspan=<%=rows%>><%= best_in_place incubation, :chamber %></td>
  <td rowspan=<%=rows%>><%= best_in_place incubation, :lid_name %>
  <td rowspan=<%=rows%>><%= best_in_place incubation, :soil_temperature %></td>
</tr>
<% samples.each do |sample| %>
  <tr>
    <td><%= best_in_place sample, :vial %></td>
    <td><%= best_in_place sample, :seconds %> </td>
    <td><%= sample.data(:n2o).first.try(:ppm) %></td>
    <td><%= sample.data(:co2).first.try(:ppm) %></td>
    <td><%= sample.data(:ch4).first.try(:ppm) %></td>
  </tr>
<% end %>
