<%= f.input :sampled_on , :label=>'Sample Date' , :as => :string, :input_html =>{ :class=>'span2', :datepicker=>'datepicker' }%>
<%= f.input :run_on, :label=>'Run Date', :as => :string, :input_html=>{:class=>'span2', :datepicker=>'datepicker'} %>
<%= f.input :name %>
<%= f.input :study %>
<%= f.input :comment, :input_html => {  :rows => 5 } %>
<%= link_to @run.setup_file, @run.setup_file_url, :class=>'uploaded_file' if @run.setup_file? %>
<%= f.input :setup_file %> 
<%= f.hidden_field :setup_file_cache %>
<%= link_to @run.data_file, @run.data_file_url, :class=>'uploaded_file'  if @run.setup_file? %>
<%= f.input :data_file %>
<%= f.hidden_field :data_file_cache %>

<div>
<%= link_to 'back to index', runs_path, :class=>'btn' %>
<%= f.button :submit , :class=>'btn btn-primary'%>
</div>
<table class='table table-condensed'>
  <thead>
  <tr>
    <th>Treatment</th>
    <th>Replicate</th>
    <th>Chamber</th>
    <th>Lid</th>
    <th>Soil Temperature</th>
    <th>Vials</th>
    <th>Minutes</th>
    <th>N2O ppm</th>
    <th>CO2 ppm</th>
    <th>CH4 ppm</th>
  </tr>
</thead>
<tbody>
<%= f.simple_fields_for :incubations, :defaults => {:label => false, :input_html => {:class=>'incubation-input'}}  do |incubation_field| %>
<% rows = 5 %> 
<tr>
  <td rowspan=<%=rows%>><%= incubation_field.input :treatment %></td>
  <td rowspan=<%=rows%>><%= incubation_field.input :replicate %></td>
  <td rowspan=<%=rows%>><%= incubation_field.input :chamber %></td>
  <td rowspan=<%=rows%>><%= incubation_field.association :lid %>
  <td rowspan=<%=rows%>><%= incubation_field.input :soil_temperature %></td>
    <%= incubation_field.simple_fields_for :samples, :defaults=>{:label => false, :input_html => {:class => 'incubation-input'}} do |sample_field| %>
      <tr>
    <td><%= sample_field.object.vial %></td>
    <td><%= sample_field.input :seconds %> </td>
    <td><%= sample_field.object.data(:n2o).first.try(:ppm) %></td>
    <td><%= sample_field.object.data(:co2).first.try(:ppm) %></td>
    <td><%= sample_field.object.data(:ch4).first.try(:ppm) %></td>
    </tr>
  <% end %>
</tr>
<% end %>
</tbody>
  <%# <%= render @run.incubations, :f => f %1> %>
</table>
