<tr>
  <td><%= run.run_on %></td>
  <td><%= run.sampled_on %></td>
  <td><%= run.name %></td>
  <td><%= run.comment %></td>
  <td><%= run.study %></td>
  <td><%= "#{run.total_fluxes}" %></td>
  <td><%= link_to 'qc', run %></td>
  <td><%= link_to 'download', run_url(run, :format => :csv) %></td>
</tr>
