<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<%= simple_form_for @run do |f| %>
  <%= render 'form', :f => f %>
<% end %> 
<% cache(@run) do %>
<table class='table table-condensed'>
  <thead>
    <tr>
      <th>Treatment</th>
      <th>Replicate</th>
      <th>Chamber</th>
      <th>Sub plot</th>
      <th>Lid</th>
      <th>Avg. Chamber Height cm</th>
      <th>Soil Temperature</th>
      <th>Vials</th>
      <th>Minutes</th>
      <th>N2O ppm</th>
      <th>CO2 ppm</th>
      <th>CH4 ppm</th>
    </tr>
  </thead>
  <tbody>
    <% @run.incubations.each do |incubation| %>
      <% rows = 9 %> 
      <tr data-incubation-id=<%=incubation.id %>>
        <td rowspan=<%=rows%>><%= link_to incubation.treatment, edit_incubation_path(incubation) %></td>
        <td rowspan=<%=rows%>><%= incubation.replicate %></td>
        <td rowspan=<%=rows%>><%= incubation.chamber %></td>
        <td rowspan=<%=rows%>><%= incubation.sub_plot %></td>
        <td rowspan=<%=rows%>><%= incubation.lid.try(:name) %></td>
        <td rowspan=<%=rows%>><%= incubation.avg_height_cm%></td>
        <td rowspan=<%=rows%>><%= incubation.soil_temperature %></td>
        <% incubation.samples.each do |sample| %>
          <tr>
            <td><%= sample.vial %></td>
            <td><%= sample.seconds %> </td>
            <td><%= sample.data('n2o').try(:ppm) %></td>
            <td><%= sample.data('co2').try(:ppm) %></td>
            <td><%= sample.data('ch4').try(:ppm) %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><%= sample.data('n2o').try(:area) %></td>
            <td><%= sample.data('co2').try(:area) %></td>
            <td><%= sample.data('ch4').try(:area) %></td>
          </tr>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<div class='hidden'>

    <tr>
      <% rows = 9 %>
      <td rowspan=<%=rows%>><input type=text name='treatment'></td>
      <td rowspan=<%=rows%>><input type=text name='replicate'></td>
      <td rowspan=<%=rows%>><input type=text name='chamber'></td>
      <td rowspan=<%=rows%>><input type=text name='sub_plot'></td>
      <td rowspan=<%=rows%>><input type=text name='lid'></td>
      <td rowspan=<%=rows%>><input type=text name='avg_height_cm'><td>
      <td rowspan=<%=rows%>><input type=text name='soil_temperature'></td>
    </tr>
</div>

<div class='hidden'>
        <tr>
          <td><input type=text name='sample_vial'></td>
          <td><input type=text name='seconds'> </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tr>
</div>
