<h1>Runs <%= @state %> </h1>
<%= link_to 'Uploaded', runs_url({:state => :uploaded}) %>
<%= link_to 'Accepted', runs_url({:state => :accepted}) %>
<%= link_to 'Approved', runs_url({:state => :approved}) %>
<%= link_to 'Published', runs_url({:state => :published}) %>
<table>
  <tr>
    <th>Run on</th>
    <th>Sampled on</th>
    <th>Name</th>
    <th>Comment</th>
    <th>Study</th>
    <th>Fluxes</th>
  </tr>
  <%= render @runs %>
</table>
<%= link_to 'new run', new_run_path %>
