<div id='titile'>
<h1><%= @run.name %></h1>
<p>Sampled on: <%= @run.sampled_on %> Study: <%= @run.study %></p>
<button id='save'>Save</button> 
<% @run.current_state.events.keys.each do |event| %>
  <button id="<%=event.to_s%>"><%= event.to_s %></button>
<% end %>
</div>
<div id='container'></div>

<script>
  INITIAL_DATA = <%=raw @incubations.to_json(:methods=>['co2','n2o','ch4']) %>
  window.run_id = <%= @run.id %>
</script>

<script type='text/template' id='flux-list-template'>
  <h1>Model Fluxes</h1>
  <ul class='flux'></ul>
</script>

<script type='text/template' id='incubation-template'>
  <span class='treatment-label'>T{{ treatment }}R{{ replicate }} C:{{chamber}}</span>
</script>
