<ul class="nav nav-tabs">
  <li><%= link_to 'Standards', standards_run_path(@run) %></li>
  <li class='active'><%= link_to 'Samples', run_path(@run) %></li>
</ul>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>
<div id='container'>Loading...</div>

<script>
  INITIAL_DATA = <%=raw @incubations.to_json(:methods=>['co2','n2o','ch4']) %>;
  window.run_id = <%= @run.id %>;
  $(function() {
    window.myApp = new Flux.Routers.FluxesRouter;
    Backbone.history.start({pushState: true, root: '/runs/' + window.run_id});
  });
</script>

<script type='text/template' id='flux-list-template'>
  <h1>Model Fluxes</h1>
  <ul class='flux'></ul>
</script>

<script type='text/template' id='incubation-template'>
  <a href='/incubations/{{id}}/edit' class='treatment-label'>{{ treatment }}{{ replicate }} C:{{chamber}}</a>
</script>
