<ul class="nav nav-tabs">
  <li id='standard-tab'><%= link_to 'Standards', run_path(@run) + '/standards' %></li>
  <li id='sample-tab' class='active'><%= link_to 'Samples', run_path(@run) %></li>
</ul>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>
<div id='container'>Loading...</div>

<script>
  INITIAL_DATA = <%=raw json_for @incubations %>;
  INITIAL_STANDARD_DATA = <%= raw json_for @standard_curves %>;
  window.run_id = <%= @run.id %>
  $(function() {
    window.myApp = new Flux.Routers.FluxesRouter;
    Backbone.history.start({pushState: true, root: '/runs/' + window.run_id});
  });
</script>

<script type='text/template' id='flux-list-template'>
  <h1>Model Fluxes</h1>
  <ul class='flux'></ul>
</script>

<script type='text/template' id='incubation-template'>
  <a href='/incubations/{{id}}/edit' class='treatment-label'>{{ treatment }}{{ replicate }} C:{{chamber}}</a>
</script>

<script type='text/template' id='standard-list-template'>
  <ul class='flux'></ul>
</script>

<script type='text/template' id='standard-template'>
  <ul class='standard'></ul>
</script>
