<!DOCTYPE html>
<html>
  <head>
    <title>Fluxqc</title>
    <script src="https://use.fontawesome.com/bd18aea090.js"></script>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-default" role="navigator">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="#">FluxQC</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li <%="class=active" if @state == 'uploaded'%> ><%= link_to 'Uploaded', runs_url({:state => :uploaded}) %></li>
            <li <%="class=active" if @state == 'accepted'%> ><%= link_to 'Accepted', runs_url({:state => :accepted}) %></li>
            <li <%= "class=active" if @state == 'approved'%> ><%= link_to 'Approved', runs_url({:state => :approved}) %></li>
            <li <%= "class= active" if @state == 'published'%> ><%= link_to 'Published', runs_url({:state => :published}) %></li>
            <li <%= "class= active" if @state == 'rejected'%> ><%= link_to 'Rejected', runs_url({:state=>:rejected}) %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path  %></li>
            <% end %>
          </ul>
        </div>
      </div>
  </div>

  <!--[if lt IE 9]>
  <div class='alert'>
    outdated versions of internet explorer are not supported
  </div>
  <![endif]-->
  <div class='container-fluid'>
    <%= yield %>
  </div>

</body>
</html>
