<!DOCTYPE html>
<html>
<head>
  <title>Fluxqc</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">FluxQC</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class=<%= 'active' if @state == 'uploaded'%> ><%= link_to 'Uploaded',   runs_url({:state => :uploaded}) %></li>
            <li class=<%= 'active' if @state == 'accepted'%> ><%= link_to 'Accepted',   runs_url({:state => :accepted}) %></li>
            <li class=<%= 'active' if @state == 'approved'%> ><%= link_to 'Approved',   runs_url({:state => :approved}) %></li>
            <li class=<%= 'active' if @state == 'published'%> ><%= link_to 'Published', runs_url({:state => :published}) %></li>
            <li class=<%= 'active' if @state == 'rejected'%> ><%= link_to 'Rejected',   runs_url({:state => :rejected}) %></li>
          </ul>
          <ul class='nav pull-right'>
            <% @run.current_state.events.keys.each do |event| %>
              <li class='workflow'><%=button_to "#{event.to_s}", :action=>event %></li>
            <% end %>
          </ul>
          <ul class='nav pull-right'>
            <li><%= link_to 'edit', edit_run_path(@run) if params[:action]=='show' %></li>
            <li><%= link_to 'qc', run_path(@run) if params[:action]=='edit' %></li>
          </ul>
        </div>
        <p class='navbar-text pull-right'><%= @run.name %></p>
      </div>
    </div>
  </div>
  <div class='container-fluid'>
    <%= yield %>
  </div>

  <%= debug params[:action]%>
</body>
</html>
